body {
    background-color: black;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
    text-shadow: none;
}

.frame {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: aliceblue;
    font-family: 'Kalam',cursive;
    text-align: center;
}

.happy-img {
    width: 100%;
    border:5px solid white ;
}